{% extends 'home_login.html' %}

{% block content %}

<div class="d-flex flex-row justify-content-center align-items-center" style="height: 100%;">
    <div class="p-2">
        <div class="col-md-12">
            <h1>Welcome to the CNU Parking Application</h1>
            <a href="/login">
                <button type="button" class="btn btn-success" type="submit" 
                        style="margin-bottom : 190px;margin-left: 325px;"><i class="fas fa-cogs pr-2"
                        aria-hidden="true"></i>Login</button>
            </a>
        </div>
    </div>
</div>
{% endblock%}
